body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #C1B09E 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-part {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #C1B09E 0% 0% no-repeat padding-box;
}

.right-part{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #9c8670 0% 0% no-repeat padding-box;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.logo-img{
    width: 100%;
    height: auto;
}

.caption{
    height: 1vh;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.friends{
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.avatar {
    vertical-align: center;
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 10%;
    margin-left: 3vw;
}

.table{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button-show{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: #C1B09E;
}

button {
    font-weight: 600;
    border: solid 2px black;
    outline: 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    background-color: white;
    border-radius: 0.35rem;
    cursor: pointer;
}
.buttons{
    margin: auto;
}

.meetups{
    background-color: #C1B09E;
    width: 50%;
    height: 100%;
}

.chat{
    background-color: #C1B09E;
    width: 50%;
    height: 100%;
}

.container2{
    display: flex;
    flex-direction: row;
    background-color: #baa997;
}
