body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #C1B09E 0% 0% no-repeat padding-box;
}

.logo-container {
    height: 35vh;
    width: auto;
}

.logo-img {
    margin: auto;
}

.form-container {
    height: 65vh;
    width: auto;
}

.input-login {
    width: 40em;
    height: 4em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1px;
    border-radius: 38px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.button-login {
    background: #2A3D45;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7A7A7A;
    border-radius: 38px;
    opacity: 1;
    width: 40em;
    height: 4em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login-form {
    background-color: #a29485;
    width: 56.3125em;
    height: 100%;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 45px;
    text-align: center;
}

.login-form form{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}



body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 411px),
screen and (max-device-width: 411px) {
    body {

    }
    body > div {

    }
}